.parent{
    position:relative;
    top : 200px;
    left: 300px;
    transform: rotate(-45deg);
}
.box{
    height: 200px;
    width: 200px;
    position: absolute;
    background-color:#ef0b0b;
}

.first{
    background-color: #ef0b0b;
    z-index: 1;
}

.second{
    background-color: #ef0b0b;
    left: 100px;
    border-radius: 50%;
}

.third{
    background-color: #ef0b0b;
    top: -100px;
    border-radius: 50%;
}